<div>
   <form method="post">
   <div class="col-sm-12 boxFormCon">
      <div class="col-sm-12 FormCon">
         <input type="text" name="login" value="Login" >
      </div>
      <div class="col-sm-12 FormCon">
         <input type="password" name="login" value="Password" >
      </div>
      <div class="col-sm-12 FormCon">
         <input type="submit" value="Se connecter">
	  </div>
      <div class="col-sm-6 FormCon">
         <a href="#" class="formConnection">Mot de passe oublié ?</a>
      </div>
      <div class="col-sm-6 FormCon">
         <a href="#" class="formConnection">Inscription</a>
	  </div>
	  </div>
   </form>
</div>