<div>
    <div class='col-sm-6'>Article mis en avant</div>
	
	<div class='col-sm-6'>
		<div class='col-sm-6'>
			<div style="height:300px;">
			<img src='media/c1.jpg' style='height:100px;width:100px;'>
			<h3>Romain Youlnieskov Vladimovich</h3>
			<h4>Crazy russian scientist</h4>
			</div>
		</div>
		<div class='col-sm-6'>
			<div style="height:300px;">
			<img src='media/c2.png' style='height:100px;width:100px;'>
			<h3>Stephanou Eastern</h3>
			<h4>Social Manager</h4>
			</div>
		</div>
		<div class='col-sm-6'>
			<div style="height:300px;">
			<img src='media/c3.png' style='height:100px;width:100px;'>
			<h3>Walter Elias Gradle</h3>
			<h4>Gradle Expert</h4>
			</div>
		</div>
		<div class='col-sm-6'>
			<div style="height:300px;">
			<img src='media/c4.jpg' style='height:100px;width:100px;'>
			<h3>Aldrich Killian</h3>
			<h4>Gene Manager</h4>
			</div>
		</div>
	</div>
</div>